/* Header - Parent Styles */
header {
	height: 400px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #fef6f3;
	padding-right: 10vw;
	padding-top: 2vh;
	padding-left: 10vw;
	z-index: -1;
}

#header-avatar {
	opacity: 0.6;
	/* max-width: 75%; */
}
#header-avatar:hover {
	opacity: 1;
}

#header-name {
	margin-top: -3vh;
	font-family: "Bungee", sans-serif;
	font-size: 1em;
}

/* Header - Desktop - Parent Styles */
@media only screen and (min-width: 1024px) {
	header {
		display: flex;
		top: 20vh;
		left: 0;
		width: 20vw;
		margin-left: 4.5vw;
		position: absolute;
		justify-content: start;
	}
}
