nav {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	/* height: 100px; */
	width: 100%;
	/* background-color: #a2b99b; */
	padding-left: 1.5em;
	padding-right: 1.5em;
	position: sticky;
	top: 0;
	background-color: #f4f1ec;
}

nav > span {
	font-family: "Bungee", sans-serif;
	color: #ffffff;
	padding-bottom: 0.75em;
	font-size: 1.2em;
}

/* #arrow {
	display: flex;
	justify-content: center;
}

p {
	display: flex;
	font-family: "Source Sans Pro", sans-serif;
} */

/* .navbar {
	position: sticky;
	top: 0;
	background-color: transparent;
} */
