nav {
	height: 14vh;
	background: linear-gradient(#fbc0aa, #fef4f0);
	display: flex;
	padding: 0 2em;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	width: 100%;
	opacity: 0.8;
}

#nav-logo {
	font-family: "Bungee", sans-serif;
	font-size: 1.3em;
	color: #c77282;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	animation: pulse 8s infinite;
}

@keyframes pulse {
	0% {
		color: #c77282;
	}
	33% {
		color: #f87069;
	}
	66% {
		color: #29bdf8;
	}
	100% {
		color: #c77282;
	}
}

#nav-favicon {
	color: #c77282;
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	animation: pulse 8s infinite;
}

@keyframes pulse {
	0% {
		color: #c77282;
	}
	33% {
		color: #f87069;
	}
	66% {
		color: #d499fc;
	}
	100% {
		color: #c77282;
	}
}
@media only screen and (min-width: 1024px) {
	nav {
		background: linear-gradient(#fbc0aa, #fef4f0);
		opacity: 0.8;
	}
	#nav-logo {
		margin-left: 2vw;
		font-size: 1.8em;
	}
}
