.new-tweet {
	border: 5px solid #c77282;
	border-radius: 25px;
	padding: 1.5em;
}

#tweet-text {
	width: 100%;
	border: none;
	border-bottom: 5px solid #c77282;
	background-color: #fef6f3;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 600;
}

#tweet-text:focus {
	outline: none;
}

.compose-tweet-icons {
	display: flex;
	justify-content: space-between;
}

#tweet-button {
	padding: 0;
	font-family: "Bungee", sans-serif;
	color: #c77282;
	border: 5px solid #c77282;
	border-radius: 25px;
	background-color: #fef6f3;
	padding: 0.4em;
	margin: 0.2em;
	cursor: pointer;
}

#tweet-button:hover {
	box-shadow: 4px -4px #e9d0fd;
}

output {
	font-family: "Bungee", sans-serif;
	color: #c77282;
}
